*{
    margin:0;
    padding:0;
}
.cgv{
    background-color:brown;
}
.lotte{
    background-color:rgb(230, 37, 20);
}
.mega{
    background-color:rgb(108, 41, 232);
}
.inde{
    background-color:rgb(237, 227, 29);
}
.home{
    background-color:rgb(27, 207, 66);
}