*{
    margin:0;
    padding:0;
}
.cgv, .cgvseat{
    background-color:brown;
}
.lotte, .lotteseat{
    background-color:rgb(230, 37, 20);
}
.mega, .megaseat{
    background-color:rgb(108, 41, 232);
}
.inde, .indeseat{
    background-color:rgb(237, 227, 29);
}
.cgvseat:hover,.lotteseat:hover,.megaseat:hover,.indeseat:hover{
    background-color:rgb(105, 105, 105);
}

.cgvimg{
    background-image:url('db/cgv.png');
    background-size: cover;
}