*{
    margin:0;
    padding:0;
}
.cgv, .cgvseat{
    background-color:#E41A12;
    font-weight: 900;
}
.lotte, .lotteseat{
    background-color:#c53535;
    font-weight: 900;
}
.mega, .megaseat{
    background-color:#3d2a76;
    font-weight: 900;
    color:white;
}
.inde, .indeseat{
    background-color:#f4d322;
    font-weight: 900;
}
.cgvseat:hover,.lotteseat:hover,.megaseat:hover,.indeseat:hover{
    background-color:rgb(105, 105, 105);
}
.home{
    background-color: green;
    color:white;
}

.cgvimg{
    /*box-shadow: 0 0 0 12px #E41A12 inset;*/
    border:10px solid #e41a12;
}
.lotteimg{
    border:10px solid #c53535;
}
.megaimg{
    border:10px solid #3d2a76;
}
.indeimg{
    border:10px solid #f4d322;
}
.homeimg{
    /*background-image:url('db/home.png');*/
    border:10px solid #199831;
}

input[type=text]{
    text-align: center;
    height:30px;
    border:none;
    border-radius: 10px;
    font-weight: 900;
    margin-right:5px;
}

.box::-webkit-scrollbar{
    width:5px;
}
.box::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120); /*스크롤바의 색상*/
    border-radius: 10px;
}
.box::-webkit-scrollbar-track {
    background-color:rgb(229, 229, 229); /*스크롤바 트랙 색상*/
}