$color-cgv:#E41A12;
$color-lotte:#c53535;
$color-mega:#3d2a76;
$color-inde:#f4d322;
$color-home:#007900;
$white:#ffffff;
$hover-seat:rgb(105, 105, 105);

*{
    margin:0;
    padding:0;
}

@mixin set-cgv($bg-color){
    background-color:$bg-color;
    font-weight:900;
}

@mixin thema-border($border-color){
    border:10px solid $border-color;
}

.cgv{
    @include set-cgv($color-cgv);
}
.cgvseat{
    @include set-cgv($color-cgv);
    &:hover{
        background-color:$hover-seat;
    }
}

.lotte{
    @include set-cgv($color-lotte);
}
.lotteseat{
    @include set-cgv($color-lotte);
    &:hover{
        background-color:$hover-seat;
    }
}

.mega{
    @include set-cgv($color-mega);
}
.megaseat{
    @include set-cgv($color-mega);
    color:$white;
    &:hover{
        background-color: $hover-seat;
    }
}

.inde{
    @include set-cgv($color-inde);
}
.indeseat{
    @include set-cgv($color-inde);
    &:hover{
        background-color: $hover-seat;
    }
}

.home{
    background-color: $color-home;
    color:$white;
}

.cgvBackground{
    @include thema-border($color-cgv);
}
.lotteBackground{
    @include thema-border($color-lotte);
}
.megaBackground{
    @include thema-border($color-mega);
}
.indeBackground{
    @include thema-border($color-inde);
}
.homeBackground{
    @include thema-border($color-home);
}

input[type=text]{
    text-align: center;
    height:30px;
    border:none;
    border-radius: 10px;
    font-weight: 900;
    margin-right:5px;
}

.box::-webkit-scrollbar{
    width:5px;
}
.box::-webkit-scrollbar-thumb {
    background-color: rgb(120, 120, 120); /*스크롤바의 색상*/
    border-radius: 10px;
}
.box::-webkit-scrollbar-track {
    background-color:rgb(229, 229, 229); /*스크롤바 트랙 색상*/
}